.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}

.header-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a{
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #111;
  transition: color 0.3s ease;
}
.logo a:hover {
  color: #5594db; 
}
.nav a {
  margin-left: 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #5594db; 
}
