.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;

  background: linear-gradient(135deg, #e3cff8, #b6dcf8);
}

.hero-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 80px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero-text h2 {
  font-size: 22px;
  font-weight: 600;
  color: #6657eb;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
  margin-bottom: 30px;
}

.hero-buttons .btn {
  padding: 12px 20px;
  margin-right: 15px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn.primary {
  background-color: #6657eb;
  color: white;
  border: 1px solid #6657eb;
}

.btn.primary:hover {
  background-color: #5746e6;
  border: 1px solid #5746e6;
  color: white;
}

.btn.secondary {
  border: 1px solid #6657eb;
  color: #6657eb;
  background-color: transparent;
}

.btn.secondary:hover {
  background-color: #6657eb;
  color: white;
}

.hero-image img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .hero {
    min-height: auto;
    padding: 60px 0;
  }
  .hero-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .hero-buttons .btn{
    font-size: 14px;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .hero-text h2 {
    font-size: 18px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .hero-image img{
    max-width: 230px;
  }
}

@media (max-width: 360px) {
  .hero-buttons {
    display: flex;
    flex-direction: column;  
    align-items: center;      
    gap: 10px;                 
  }

  .hero-buttons .btn {
    padding: 8px 10px;
    width: 100%;             
    max-width: 100px;        
    margin-right: 0;          
  }
}
