.projects {
  padding: 60px 10%;
  background: #f8f9ff;
}

.projects h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 60px;
}

.projects-container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

/* Card */
.project-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease;
  position: relative;
}

.project-card:hover {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.project-card p {
  color: #333;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 25px;
}

/* Featured */
.featured {
  border: 2px solid #7f5af0;
  grid-column: 1 / -1; 
  max-width: 700px; 
  width: 100%;
  margin: 0 auto;
}

.featured-badge {
  position: absolute;
  top: -15px;
  left: 30px;
  background: #7f5af0;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

/* Tech stack */
.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.tech-stack span {
  background: #eef2ff;
  color: #4338ca;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
}

/* Links */
.project-links {
  display: flex;
  gap: 25px;
}

.project-links a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: #6657eb;
}

.github-icon {
  font-size: 18px;
}

.project-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: #6657eb;
  transition: 0.3s ease;
}

.project-links a:hover::after {
  width: 100%;
}

.project-links .live {
  color: #0284c7;
}

.project-links .live::after {
  background: #0284c7;
}

.view-all-btn {
  display: block;
  width: fit-content;
  margin: 50px auto 0 auto;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid #7f5af0;
  background: transparent;
  color: #7f5af0;
  text-decoration: none;
  transition: all 0.3s ease;
}

.view-all-btn:hover {
  background: #7f5af0;
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(127, 90, 240, 0.3);
}
/* Responsive */
@media (max-width: 899px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-container {
    grid-template-columns: 1fr;
  }
}
